
/*
 *= require bootstrap_and_overrides
 */
#map img { max-width: none; }
#elevation-box img { max-width: none; }
#panorama-box img {max-width: none; }
#side td {
    padding: 2px 1px 2px 1px;
}
td.date, td.actions {
    white-space: nowrap;
}
td.way {
    white-space: nowrap;
    text-align: right;
}
td.name div {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

html, body {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    margin-bottom: 0 !important;
}

#main-row {
    width: 100%;
    margin-bottom: 0;
    border: 0;
}

#side {
    width :350px;
    padding-bottom: 16px;
    padding-top: 16px;
    z-index: 100;
}

#side.fold {
    margin-left: -350px;
}

#side.fold.open {
    margin-left: 0;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


#map {
    -webkit-flex:  1 1 auto ;
    -moz-flex:  1 1 auto ;
    -ms-flex:  1 1 auto ;
    -o-flex:  1 1 auto ;
    flex: 1 1 auto ;
    width: 100%;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
    border-radius: 3px;
    background-color: #222222;
}

tr {
    cursor: pointer;
}

#elevation-box {
    position: relative;
    width: 100%;
    height: 25%;
    -webkit-flex:  0 0 200px ;
    -moz-flex:  0 0 200px ;
    -ms-flex:  0 0 200px ;
    -o-flex:  0 0 200px ;
    flex: 0 0 25% ;
}
#elevation-box > div{
    width: 100%;
    height: 100%;
}

#panorama-box {
    width: 100%;
    height: 40%;
    -webkit-flex:  0 0 300px; ;
    -moz-flex:  0 0 300px ;
    -ms-flex:  0 0 300px ;
    -o-flex:  0 0 300px ;
    flex: 0 0 40% ;
    position: relative;        
}

#panorama {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 30px;
}

#panorama-controls {
    width: 100%;
    text-align: center;    
    position: absolute;
    height: 30px;
    bottom: 0;
}

#pagination {
    position: absolute;
    bottom : 0;
}

.table-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    clear: both;
}
.modal textarea {
    width: 100%;
    height: 100px;
}

.drawer-contents {
    width: 100%;
}
#side .drawer-controls {
    margin-top: 60px;
}

#side .drawer-contents {
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (max-width: 767px) {

    #nav {
	overflow-y: scroll;
    }

    #side {
	width: 280px;
    }
    #side.fold {
	margin-left: -280px;
    }
    td.name div {
	width: 120px;
    }
    
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #main {
	flex-direction: row;
    }
    #panorama-box {
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	flex: 0 0 50%;
    }
    #elevation-box {
	height: 100%;
	width: 50%;
	flex: 0 0 50%;
    }
}
