
/*
 *= require bootstrap_and_overrides
 */
#map img { max-width: none; }
#elevation-box img { max-width: none; }
#panorama-box img {max-width: none; }
td.date {
    white-space: nowrap;
}
td.way {
    white-space: nowrap;
    text-align: right;
}
td.name div {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    -webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#nav {
    width: 100%;
}

#main-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex:  1 1 auto ;
    -moz-flex:  1 1 auto ;
    -ms-flex:  1 1 auto ;
    -o-flex:  1 1 auto ;
    flex: 1 1 auto ;

}

#side {
    -webkit-flex:  0 0 400px ;
    -moz-flex:  0 0 400px ;
    -ms-flex:  0 0 400px ;
    -o-flex:  0 0 400px ;
    flex: 0 0 400px ;
    overflow: scroll;
}

#main {
    -webkit-flex:  1 1 auto ;
    -moz-flex:  1 1 auto ;
    -ms-flex:  1 1 auto ;
    -o-flex:  1 1 auto ;
    flex: 1 1 auto ;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;

}


#map {
    -webkit-flex:  1 1 auto ;
    -moz-flex:  1 1 auto ;
    -ms-flex:  1 1 auto ;
    -o-flex:  1 1 auto ;
    flex: 1 0 auto ;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
    border-radius: 3px;
    background-color: #222222;
}

tr {
    cursor: pointer;

}

#elevation-box {
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-flex:  0 0 200px ;
    -moz-flex:  0 0 200px ;
    -ms-flex:  0 0 200px ;
    -o-flex:  0 0 200px ;
    flex: 0 0 200px ;

}

#panorama-box {
    width: 100%;
    height: 300px;
    -webkit-flex:  0 0 300px ;
    -moz-flex:  0 0 300px ;
    -ms-flex:  0 0 300px ;
    -o-flex:  0 0 300px ;
    flex: 0 0 300px ;
}

#panorama, #elevation-box > div{
    width: 100%;
    height: 100%;
}
#panorama_control {
    position: absolute;
    height: 40px;
    bottom: 0;
    z-index: 100;
}

#pagination {
    position: absolute;
    bottom : 0;
}

.table-wrapper {
    margin-bottom: 20px;
}

.table-wrapper button {
    width: 350px;
}

.table-wrapper table {
    width: 100%;
}
.modal textarea {
    width: 100%;
    height: 100px;
}
